.info-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-rows: 1fr 1fr; */
  /* grid-template-columns: repeat(2, 1fr); */
}

.card {
  border-radius: 0;
}

input[type='text'] {
  border-radius: 0;
}

.degree-type-input {
  border-radius: 0;
  width: 110px;
}

button[type='button'] {
  border-radius: 0;
}

.weather-icon {
  width: 25px;
  height: 25px;
}

@media screen and (max-width: 768px) {
  .info-grid {
    grid-template-columns: 1fr;
  }
}
